name: check formatting
on: [pull_request]
jobs:
  check-formatting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - 'src'
          - 'test'
    steps:
    - uses: actions/checkout@v4
    - name: Run clang-format style check
      uses: jidicula/clang-format-action@v4.16.0
      with:
        clang-format-version: '20'
        check-path: ${{ matrix.path }}
